backend/.env
langgraph_agent/.env
backend/benv/*
datascience_engine/ds_env/
frontend/webapp/node_modules/
langgraph_agent/langgraph_env/
.python-version
backend/db.sqlite3

.pyc
langgraph_agent/__pycache__
datascience_engine/__pycache__
frontend/webapp/public

backend/backend_venv
langgraph_agent/langgraph_env
frontend/react_dashboard/node_modules